<div class="longBoxBtm marginL10">
	<div class="longBoxTop">
    	<div class="longBoxCenter">
			<ul class="searchCenter">
            	<li class="clearfix">
            		<label class="left" for="">组织机构：</label>
					<div class="zzteam left" id="input_3"></div>
                	<label class="left">添加时间：</label>
                    <input type="text" class="left timeInput j_toTimeSS" />
                    <span class="left timeSep">—</span>
                    <input type="text" class="left timeInput j_toTimeSS" />
                </li>
                <li class="clearfix">
                	<label class="left" for="">所在地：</label>
					<input type="text" class="userManageInput left" placeholder="全部" />
					<a href="#" class="check right">查询</a>
                </li>
            </ul>	
			
		</div>
	</div>
</div>
<div class="btnBox clearfix">
	<a href="#" class="delete left">删除</a>
	<a href="#" class="changepeople right">成员调整</a>
	<a href="#" class="addteam right">添加组织</a>
</div>

<div class="taskgridBox">
	<div class="gridBox" id="gridBox"></div>
</div>
<script type="text/javascript" src="js/admin_organizationmanage_1.js"></script>
