<div class="articletaskAlert clearfix">
		<div class="createContent">
			<ul class="createList">
				<li class="clearfix spec_1">
					<label class="left txt">素材标题：</label>
					<input type="text" class="left accountInput" />
				</li>
				<li class="clearfix spec upBox">
					<label class="left txt">素材内容： </label>
					<textarea name="" rows="" cols="" style="resize: none;"></textarea>
				</li>
				<li class="clearfix spec upBox">
					<label class="left txt">素材分类： </label>
					<div id="detailInput_1" class="left"></div>
				</li>
			</ul>
		</div>
</div>

<script>
//	var ue = UE.getEditor('editor');
</script>
<script type="text/javascript" charset="utf-8" src="js/materialdetailAlert.js"></script>
